*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;

}
body{
    min-height: 100vh;
    background-color: rgb(16, 102, 105);
}

form{
    background-color: rgb(153, 0, 255);
    width: 350px;
    height: 590px;
   padding-left: -30px;
   padding-top: 75px;
   right: 30%;
   top: 80%;
   text-align: center;
  
   transform: translate(140%, 50%);
}
h1{
text-align: center;
margin-top: 15px;
color: rgb(255, 0, 76);
}
.textBoxdiv{
    border-bottom: 2px white;
    position: relative;
    margin: absolute;
    font-size: medium;

}
.textBoxdiv input{
    background: none;
    border:none;
    outline:none;
    width: 100;
    color: white;
    height: 30px;
    font-size: 20px;

}
.loginbtn{
    height: 32px;
    width: 19%;
    border: none;
    outline: none;
    background: red;
    background-size: 200%;
    transition: 0.5s;
    color: wheat;
    font-size: 16px;

}
.loginbtn:hover{
    background-position: right;
    font-size: 17px;
}
.Signup{
    color: white;
    margin-top: 25px;
    text-align: center;

}
.Signup a{
    color: black;
}